body {
  font-family: 'Krona One', sans-serif;
}

header {
  overflow-x: hidden;
}

.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side {
  margin-left: 100%;
}

[data-initial="Garage"] > .front {
  text-align: center;
}

.front {
  width: 100%;
  transform: scale(0);
  transition: all 5s;
  padding: 0 !important
}

.front.animate {
  transform: scale(0.5);
}

main {
  margin: 0 25% 5% 25%;
}

h1 {
  font-size: 3.9vw;
  text-align: center;
  font-style: Italic;
  color: #040404;
}

a {
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 5px 15px;
}

a:link, a:visited {
  background: #000;
  color: #fff;
}

a:hover, a:active {
  background: #333;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #040404;
  border-radius: 50%;
  display: inline-block;
}

p {
  text-align: justify;
  font-family: 'Krona One', sans-serif;
  font-size: 2vmin;
}

h3 {
  color: #040404;
  font-family: 'Krona One', sans-serif;
}

.underline {
  line-height: 57px;
  text-decoration: none;
}

li {
  font-family: 'Krona One', sans-serif;
}

section {
  display: none;
}

[id*="ui-id-"] {
  border: 0;
}

.ui-accordion-header {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 768px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .front {
      height: initial !important;
    }
    .side {
      width: 75%;
    }
    .container {
      position: absolute;
      width: 100%;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      font-size: 4vmin;
    }
    .ui-accordion-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
}
